# Environment
ENV=prod

# Database
DB_PASSWORD=
STORAGE_PASS=
TEST_POSTGRES_DNS=
PARSING_SERVICE_PASS=

# Token
TOKEN_TTL=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_DB=
REDIS_PORT=

# Auth (Api_Gateway)
JWT_SECRET=
CORS_URLS=
PUBLIC_METHODS=

# gRPC
GRPC_PORT=
GRPC_TIMEOUT=
GRPC_GATEWAY_PORT=

# SSO Service
SSO_HOST=
SSO_PORT=

# Recommendation Service
RECS_HOST=
RECS_PORT=

# Cache Service
CACHE_GRPC_PORT=
TOKEN_TTL_CACHE=

# Kafka
KAFKA_HOST=
KAFKA_TOPIC=
KAFKA_CONSUMER_GROUP=
KAFKA_MAX_PULLS=
KAFKA_BOOTSTRAP_SERVERS=

# Parsing Service
API_ID=
API_HASH=
PHONE_NUMBER=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
PROXY_HOST=
PROXY_PORT=
