absl-py==2.4.0
annotated-types==0.7.0
anyio==4.13.0
astunparse==1.6.3
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
confluent-kafka==2.14.0
curl_cffi==0.15.0
distro==1.9.0
dotenv==0.9.9
flatbuffers==25.12.19
frozendict==2.4.7
gast==0.7.0
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
inflection==0.5.1
jiter==0.14.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.14.1
libclang==18.1.1
loguru==0.7.3
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.5.4
multitasking==0.0.13
namex==0.1.0
numpy==2.4.4
openai==2.31.0
openapi==2.0.0
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.2
peewee==4.0.5
platformdirs==4.9.6
protobuf==7.34.1
pyaes==1.6.1
pyasn1==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
referencing==0.37.0
requests==2.33.1
rich==15.0.0
rpds-py==0.30.0
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
Telethon==1.43.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
websockets==16.0
wrapt==2.1.2
yfinance==1.3.0
